<div class="user-profile">
  <h2>User Profile</h2>
  <p *ngIf="user$ | async as user">
    <strong>Name:</strong> {{ user.displayName }}<br>
    <strong>Email:</strong> {{ user.email }}
  </p>

  <h3>Favorites</h3>
  <div *ngIf="favoriteRecipes.length > 0; else noFavorites">
    <div *ngFor="let recipe of favoriteRecipes" class="recipe-card">
      <h4>{{ recipe.title }}</h4>
      <img [src]="recipe.image" alt="{{ recipe.title }}">
    </div>
  </div>
  <ng-template #noFavorites>
    <p>You have no favorite recipes.</p>
  </ng-template>
</div>
